@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

.carousel-item {
    height: 100vh;
}

.carousel-caption {
    position: absolute;
    top: 50% !important; /* Vertical center */
    left: 0;
    right: 0;
    /* transform: translateY(-50%);  */
    color: #fff;
    text-align: center;
    padding: 1.25rem;
}

.caption-heading {
    color: black;
}

.cart-icon {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add margin for spacing */
}

.image-container {
    position: relative;
}

.price-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    opacity: 0; /* Initially, set opacity to 0 */
    transition: opacity 0.3s ease;
}

.image-container:hover {
    opacity: 0.7; /* Reduce the opacity of the image when hovering */
}

.image-container:hover .price-overlay {
    opacity: 1; /* When hovering, set opacity to 1 for the price overlay */
}

.card-btn{
    background-color: transparent !important;
    color: black !important;
    border-radius: 50% !important;
    padding: 8px 10px !important;
}

.row {
    --bs-gutter-x: 0 !important;
}



@media (max-width: 767px) {
    .carousel-item {
        height: 70%; 
    }

    .carousel-caption.d-md-block {
        display: block; 
    }
}

/* Mobile view: Display only one card per slide */
@media (max-width: 767px) {
  .carousel-inner .row {
      display: flex;
      flex-wrap: nowrap;
  }

  .carousel-inner .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}

/* Tablet view: Display two cards per slide */
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .row {
      display: flex;
      flex-wrap: wrap;
  }

  .carousel-inner .col-md-4 {
      flex: 0 0 calc(50% - 15px); /* Adjust margin as needed */
      max-width: calc(50% - 15px); /* Adjust margin as needed */
      margin-right: 15px; /* Adjust margin as needed */
  }

  /* Remove margin-right for the last card in each row */
  .carousel-inner .col-md-4:nth-child(2n) {
      margin-right: 0;
  }
}

/* Desktop view: Display three cards per slide */
@media (min-width: 992px) {
  .carousel-inner .row {
      display: flex;
      flex-wrap: wrap;
  }

  .carousel-inner .col-md-4 {
      flex: 0 0 calc(33.33% - 15px); /* Adjust margin as needed */
      max-width: calc(33.33% - 15px); /* Adjust margin as needed */
      margin-right: 15px; /* Adjust margin as needed */
  }

  /* Remove margin-right for the last card in each row */
  .carousel-inner .col-md-4:nth-child(3n) {
      margin-right: 0;
  }
}



@media screen and (min-width: 767px) {
    body {
      position: relative;
      background-color: #DDDDDD;
      font-family: 'helvetica', sans-serif;
      font-weight: lighter;
      font-size: 14px;
      color: #555;
      margin: 0;
      padding: 0;
      min-width: 320px;
    }
  
    h1 {
      text-transform: uppercase;
      color: #333;
    }
  
    h3 {
      font-weight: lighter;
      color: #555555;
    }
  
    a {
      position: relative;
      color: #a8244f;
      text-decoration: none;
    }
  
    a:before {
      content: "";
      height: 2px;
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      background-color: darken(#a8244f, 10%);
      transform: rotateY(90deg);
      transition: transform 0.2s ease-in-out;
    }
  
    a:hover {
      color: darken(#a8244f, 10%);
      text-decoration: none;
    }
  
    a:hover:before {
      transform: rotateY(0deg);
    }
  
    .split {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: strech;
    }
  
    .split p {
      flex-basis: 100%;
    }
  }
  
  body {
    position: relative;
    background-color: #DDDDDD;
    font-family: 'helvetica', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #555;
    margin: 0;
    padding: 0;
    min-width: 320px;
  }
  
  h1 {
    text-transform: uppercase;
    color: #333;
  }
  
  h3 {
    font-weight: lighter;
    color: #555555;
  }
  
  a {
    position: relative;
    color: #a8244f;
    text-decoration: none;
  }
  
  a:before {
    content: "";
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background-color: darken(#a8244f, 10%);
    transform: rotateY(90deg);
    transition: transform 0.2s ease-in-out;
  }
  
  a:hover {
    color: darken(#a8244f, 10%);
    text-decoration: none;
  }
  
  a:hover:before {
    transform: rotateY(0deg);
  }
  
  .split {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: strech;
  }
  
  .split p {
    flex-basis: 100%;
  }
  
  nav.social {
    display: inline-block;
    padding: 0;
    margin-bottom: 18px;
  }
  
  nav.social li {
    list-style: none;
    float: left;
  }
  
  nav.social li a {
    padding: 5px;
  }
  
  nav.social li:first-child a {
    padding-left: 0;
  }
  
  .container {
    position: relative;
    width: 100%;
    margin: 50px 0;
  }
  
  .container .inner {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: #EEE;
  }
  
  .comparison-slider-wrapper {
    position: relative;
    width: 100%;
    margin: 20px 0;
    background-color: white;
  }
  
  .comparison-slider-wrapper .comparison-slider {
    position: relative;
    width: 100%;
    margin: 0;
    border: 5px white solid;
    box-sizing: border-box;
  }
  
  .comparison-slider-wrapper .comparison-slider > img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .comparison-slider-wrapper .comparison-slider .overlay {
    display: none;
    position: absolute;
    width: 250px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    box-sizing: border-box;
    color: #DDD;
    text-align: right;
  }
  
  @media screen and (min-width: 767px) {
    .comparison-slider-wrapper .comparison-slider .overlay {
      display: block;
    }
  }
  
  .comparison-slider-wrapper .comparison-slider .resize {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
  }
  
  .comparison-slider-wrapper .comparison-slider .resize > img {
    display: block;
  }
  
  .comparison-slider-wrapper .comparison-slider .resize .overlay {
    right: auto;
    left: 20px;
    text-align: left;
  }
  
  .comparison-slider-wrapper .comparison-slider .divider {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgba(256, 256, 256, 0.2);
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    cursor: ew-resize;
  }
  
  .comparison-slider-wrapper .comparison-slider .divider:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: -9px;
    top: 50%;
    margin-top: -10px;
    background-color: white;
    transform: rotate(45deg);
    transition: all 0.1s ease-in-out;
  }
  
  .comparison-slider-wrapper .comparison-slider .divider:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -5px;
    top: 50%;
    margin-top: -6px;
    background-color: white;
    transform: rotate(45deg);
    transition: all 0.1s ease-in-out;
  }
  
  .comparison-slider-wrapper .comparison-slider .divider.draggable:before {
    width: 30px;
    height: 30px;
    left: -14px;
    margin-top: -15px;
  }
  
  .comparison-slider-wrapper .comparison-slider .divider.draggable:after {
    width: 20px;
    height: 20px;
    left: -9px;
    margin-top: -10px;
    background-color: #555;
  }
  
  .comparison-slider-wrapper .caption {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    font-style: italic;
  }
  
  .suppoprt-me {
    display: inline-block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 20vw;
    max-width: 250px;
    min-width: 200px;
    z-index: 9;
  }
  
  .suppoprt-me img {
    width: 100%;
    height: auto;
  }
  
  .product-grid{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-grid .product-image a.image{display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-discount-label{
    color: #fff;
    background: #A5BA8D;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    top: 10px;
    left: 0;
}
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all .5s ease 0s;
}
.product-grid:hover .product-links{ right: 10px; }
.product-grid .product-links li a{
    color: #333;
    background: transparent;
    font-size: 17px;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border: 1px solid #333;
    border-bottom: none;
    display: block;
    transition: all 0.3s;
}
.product-grid .product-links li:last-child a{ border-bottom: 1px solid #333; }
.product-grid .product-links li a:hover{
    color: #fff;
    background: #333;
}
.product-grid .add-to-cart{
    background: #A5BA8D;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .add-to-cart{ bottom: 0; }
.product-grid .add-to-cart:hover{ text-shadow: 4px 4px rgba(0,0,0,0.2); }
.product-grid .product-content{
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.1) inset;
}
.product-grid .title{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.product-grid .title a{
    color: #777;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #a5ba8d; }
.product-grid .price{
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 600;
}
.product-grid .price span{
    color: #888;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
}
@media screen and (max-width: 990px){
    .product-grid{ margin-bottom: 30px; }
}

ul{
    list-style: none;
    margin-bottom: 0px
}
p{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #828282;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}
p a{
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}
a, a:hover, a:visited, a:active, a:link{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}
p a:active{
    position: relative;
    color: #FF6347
}
p a:hover{
    color: #FFFFFF;
    background: #ffa07f
}
p a:hover::after{
    opacity: 0.2
}
::selection{
}
p::selection{
}
h1{
    font-size: 48px
}
h2{
    font-size: 36px
}
h3{
    font-size: 24px
}
h4{
    font-size: 18px
}
h5{
    font-size: 14px
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection{
}
.form-control{
    color: #db5246
}
section{
    display: block;
    position: relative;
    box-sizing: border-box
}
.clear{
    clear: both
}
.clearfix::before, .clearfix::after{
    content: "";
    display: table
}
.clearfix::after{
    clear: both
}
.clearfix{
    zoom: 1
}
.float_left{
    float: left
}
.float_right{
    float: right
}
.bbb_background{
    background-color: #E0E0E0 !important
}
.trans_200{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}
.trans_300{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease
}
.trans_400{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease
}
.trans_500{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease
}
.fill_height{
    height: 100%
}
.super_container{
    width: 100%;
    overflow: hidden
}
.prlx_parent{
    overflow: hidden
}
.prlx{
    height: 130% !important
}
.nopadding{
    padding: 0px !important
}
.button{
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}
.button a{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}
.button:hover{
    opacity: 0.8
}
.trends{
    padding-top: 80px;
    padding-bottom: 80px
}
.bbb_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(203, 225, 238, 0.3)
}
.bbb_background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}
.bbb_container{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 40px
}
.bbb_title{
    padding-right: 50px
}
.bbb_text{
    margin-top: 17px
}
.bbb_text p:last-child{
    margin-bottom: 0px
}
.bbb_slider_nav{
    margin-top: 27px
}
.bbb_nav{
    display: inline-block;
    width: 36px;
    height: 36px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-right: 16px;
    background-color: #2d8ce4
}
.bbb_nav:last-child{
    margin-right: 0px
}
.bbb_nav i{
    line-height: 36px;
    color: #fff;
    font-size: 18px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}
.bbb_nav:hover i{
    color: #474747
}
.bbb_item{
    background: #FFFFFF;
    border-radius: 1px;
    padding: 25px
}
.bbb_image{
    width: 100%;
    height: 212px
}
.bbb_image img{
    width: auto !important;
    max-width: 100% !important
}
.bbb_category a{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5)
}
.bbb_category a:hover{
    color: #0e8ce4
}
.bbb_content{
    margin-top: 24px
}
.bbb_name{
    float: left
}
.bbb_name a{
    font-size: 16px;
    color: #000000
}
.bbb_name a:hover{
    color: #0e8ce4
}
.bbb_price{
    font-size: 16px;
    font-weight: 500;
    float: right
}
.bbb_fav{
    position: absolute;
    top: 18px;
    right: 18px;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: pointer
}
.bbb_fav.active{
    visibility: visible;
    opacity: 1
}
.bbb_fav:hover{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3)
}
.bbb_item:hover .bbb_fav{
    visibility: visible;
    opacity: 1;
    top: 18px
}
.bbb_fav i{
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #cccccc;
    line-height: 36px;
    pointer-events: none;
    z-index: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}
.bbb_fav.active i{
    color: red
}
.bbb_item:hover .bbb_fav{
    visibility: visible;
    opacity: 1
}
.bbb_marks{
    position: absolute;
    left: 18px;
    top: 18px
}
.bbb_mark{
    display: none;
    width: 36px;
    height: 36px;
    font-size: 10px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 50%;
    line-height: 36px;
    text-align: center
}
.bbb_discount{
    background: #df3b3b
}
.bbb_item.discount .bbb_discount, .bbb_item.is_new .bbb_new{
    display: block
}
.bbb_new{
    background: #0e8ce4
}
@media only screen and (max-width: 991px){
    .bbb_slider_container{
        margin-top: 15px
    }
}